<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reserva Confirmada</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<nav th:replace="fragments/header :: navbar"></nav>

<div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-white rounded-lg shadow-md p-8">
        <h1 class="text-4xl font-bold text-blue-600 text-center mb-8">¡Reserva Confirmada!</h1>
        <p class="text-lg text-gray-700 text-center mb-6">Gracias por su reserva. Su espacio ha sido reservado exitosamente.</p>
        <div class="text-center">
            <a th:href="@{/perfil}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 px-6 rounded-md focus:outline-none focus:shadow-outline">
                Ver Detalles de la Reserva
            </a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
